@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        font-family: 'Nunito Sans', sans-serif;
    }

    h1, h2, h3, .font-title {
        font-family: 'Montserrat', sans-serif !important;
    }
}